
.container {
	padding-left: 60px;
	padding-right: 60px;
}

nav {
	height: 60px;
	background-color: grey;
	position: relative;
	width: 100%;
}

img.background_image {
	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
}

.icon-img {
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid black;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav li {
	display: inline-block;
	border-right: solid 1px;
	padding-right: 4px;
}

body * {
	box-sizing: border-box;
}

/*body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

main {
  padding-top: 90px;
  min-width: 1000px;
}*/

.dottedbox {
	margin-top: 150px;
	width: 600px;
	height: 300px;
	position: relative;
	border: 10px dotted green;
	margin-left: auto;
	margin-right: auto;
}

.spacecat, .spacedog {
	position: absolute;
	width: 200px;
}

.spacecat {
	top: -90px;
	left: -90px;
}

.spacedog {
	bottom: -90px;
	right: -90px;
}





