
.container {
	padding-left: 60px;
	padding-right: 60px;
}

nav {
	height: 60px;
	background-color: grey;
	position: relative;
	width: 100%;
}

img.background_image {
	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
}

.icon-img {
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid black;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav li {
	display: inline-block;
	border-right: solid 1px;
	padding-right: 4px;
}

body * {
	box-sizing: border-box;
}

/*body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

main {
  padding-top: 90px;
  min-width: 1000px;
}*/

.dottedbox {
	margin-top: 150px;
	width: 600px;
	height: 300px;
	position: relative;
	border: 10px dotted green;
	margin-left: auto;
	margin-right: auto;
}

.spacecat, .spacedog {
	position: absolute;
	width: 200px;
}

.spacecat {
	top: -90px;
	left: -90px;
}

.spacedog {
	bottom: -90px;
	right: -90px;
}




=======
/*body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}
>>>>>>> Added position exercise files

main {
    padding-top: 90px;
    min-width: 1000px;
}*/

img.space-image {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.container {
	padding-left: 60px;
	padding-right: 60px;
}

/*head {
	font-family: 'Roboto';
}*/

/*body * {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}*/

nav {
	height: 60px;
	width: 100%;
	background-color: grey;
  	position: relative;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav li {
	list-style-type: none;
	display: inline-block;
	border-right: solid 1px;
	padding-right: 4px;
}

nav .icon-image {
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 50%;
	vertical-align: middle;
}

.dottedbox {
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	position: relative;
	margin-top: 130px;
	margin-left: auto;
	margin-right: auto;
}

/*div {
	display: block;
}*/

.cat-image, .dog-image {
	position: absolute;
	width: 200px;
}

.cat-image {
	top: -90px;
	left: -90px;
}

.dog-image {
	bottom: -90px;
	right: -90px;
}